/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
}

.search-container {
    flex-grow: 1;
    display: flex;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form{
    display:flex;
    flex-grow: 1;
}

#searchButton {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton img {
    width: 20px;
    height: 20px;
}

.category-select {
    margin-left: 20px;
}

.category-select label {
    margin-right: 10px;
}

main {
    padding: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.review-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px; 
    cursor: pointer;
    margin-right: 20px; 
}

.review-card img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.revied-card a {
    text-decoration: none; 
    color: black;
}

.review-card h6 {
    
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.review-card:hover {
    background-color: #f5f5f5;
    border-color: #999;
}

#popup {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-radius: 10%;
  border: none;
  background-color: #845cd5;
  color: #1c1f25;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  z-index: 9999;
}