
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans',sans-serif;
    overflow-y: hidden;
}

body{
    display: flex;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-image: url(connection.avif);
    background-size: cover;
    background-position: center;
}

.wraper{
    width: 430px;
    padding: 80px 40px;
    border: 2px solid rgba(6,35,57,.5);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.8);
    background: transparent;
    backdrop-filter: blur(20px);
}

.login_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    gap: 20px;
   
}
.forgot_registor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

.inputbox{
    height: 50px;
    width: 75%;
}



.login_input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(6,35,57,.5);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px;

}
.login_input h1{
    font-size:30px;
    color: rgb(32, 44, 45);
}

.login_input button{
    width: 75%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(6,35,57,.5);
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blue(20px);
    box-shadow:  0 0 10px  rgba(0,0,0,0.8);
    border: none;
    outline: none;

}

.login_input button:hover{
    /* transform: translateY(-2px); */
    scale: 1.01;
}