*{
    margin: 0;
    padding:0;
}

body{
    background-color:blueviolet;
    background-image: url(../stylesheet/download.jpg);
    
    background-size:cover;

}

h1{
    color: rgb(126, 14, 231);
    font-size:8 rem;
    font-weight: bolder;

}

p{
    color: rgb(145, 64, 221);
    font:400px;
    font-size: small;
}
#heading{
    background-color:bisque;

}

