*{
    margin: 0;
    padding:0;
}

body{
    background-color: bisque;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAsJCQcJCQcJCQkJCwkJCQkJCQsJCwsMCwsLDA0QDBEODQ4MEhkSJRodJR0ZHxwpKRYlNzU2GioyPi0pMBk7IRP/2wBDAQcICAsJCxULCxUsHRkdLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCz/wAARCAEJAdsDASIAAhEBAxEB/8QAGgABAQEBAQEBAAAAAAAAAAAAAQACBQYDBP/EACIQAQEAAgEFAQEAAwAAAAAAAAABEVECBDEzgrIhYXGR4f/EABoBAQEBAAMBAAAAAAAAAAAAAAEAAgMEBgX/xAAZEQEAAwEBAAAAAAAAAAAAAAAAAREyAwT/2gAMAwEAAhEDEQA/APUW3K/Re6evcTWb+L9GiGjmrNCCazVmhAtZqzQgWs1ZoQLWac1khHNX6CCf1foSLWac1kso5q/QQ1BzVmhJppfoIRzV+ghH9QIJzV+ggn9X6CCc05rJBOac1khHNOayQTmnNZIJzTmslE5pzWSCZav0Qgwf05rJBOac1mEE5p/WSEc05rJROaf1kgnNdLp/Dw9vquY6fT+Hh7fVdX0ZcPfLx97pXuno3zTojRDSSQRSQJSQJSSJIISIIKSQJIISIIahJINEghIghIggoggogooggoghIggoggoggoggqEQowiCCoRCyUQQkQUUQQU6fT+Hh7fVcx0+n8PD2+q63oy4e+Xj73SvdPRPmnRGiGkkgikgSkgSkkSQQkQQUkgSQQkQQ1CSQaJBCRBCRBBRBBRBRRBBRBCRBBRBBRBBRBBUIhRhEEFQiFkoghIgooggp0+n8PD2+q5jp9P4eHt9V1vRlw98vH3ule6eifNOiNENJJBFJAlJAlJIkghIggpJAkghIghqEkg0SCEiCEiCCiCCiCiiCCiCEiCCiCCiCCiCCoRCjCIIKhELJRBCRBRRBBTp9P4eHt9VzHT6fw8Pb6rrejLh75ePvdK909E+adEaIaSSCKSBKSBKSRJBCRBBSSBJBCRBDUJJBokEJEEJEEFEEFEFFEEFEEJEEFEEFEEFEEFQiFGEQQVCIWSiCEiCiiCCnT6fw8Pb6rmOn0/h4e31XW9GXD3y8fe6V7p6J806I0Q0kkEUkCUkCUkiSCEiCCkkCSCEiCGoSSDRIISIISIIKIIKIKKIIKIISIIKIIKIIKIIKhEKMIggqEQslEEJEFFEEFOn0/h4e31XMdPp/Dw9vqut6MuHvl4+90r3T0T5p0RohpJIIpIEpIEpJEkEJEEFJIEkEJEENQkkGiQQkQQkQQUQQUQUUQQUQQkQQUQQUQQUQQVCIUYRBBUIhZKIISIKKIIKdPp/Dw9vquY6fT+Hh7fVdb0ZcPfLx97pXunonzTojRDSSQRSQJSQJSSJIISIIKSQJIISIIahJINEghIghIggoggogooggoghIggoggoggoggqEQowiCCoRCyUQQkQUUQQU6fT+Hh7fVcx0+n8PD2+q63oy4e+Xj73SvdPRPmnRGiGkkgikgSkgSkkSQQkQQUkgSQQkQQ1CSQaJBCRBCRBBRBBRBRRBBRBCRBBRBBRBBRBBUIhRhEEFQiFkoghIgooggp0+n8PD2+q5jp9P4eHt9V1vRlw98vH3ule6eifNOiNENJJBFJAlJAlJIkghIggpJAkghIghqEkg0SCEiCEiCCiCCiCiiCCiCEiCCiCCiCCiCCoRCjCIIKhELJRBCRBRRBBTp9P4eHt9VzHT6fw8Pb6rrejLh75ePvdK909E+adEaIaSSCKSBKSBKSRJBCRBBSSBJBCRBDUJJBokEJEEJEEFEEFEFFEEFEEJEEFEEFEEFEEFQiFGEQQVCIWSiCEiCiiCCnT6fw8Pb6rmOn0/h4e31XW9GXD3y8fe6V7p6J806I0Q0kkEUkCUkCUkiSCEiCCkkCSCEiCGoSSDRIISIISIIKIIKIKKIIKIISIIKIIKIIKIIKhEKMIggqEQslEEJEFFEEFOn0/h4e31XMdPp/Dw9vqut6MuHvl4+90r3T0T5p0RohpJIIpIEpIEpJEkEJEEFJIEkEJEENQkkGiQQkQQkQQUQQUQUUQQUQQkQQUQQUQQUQQVCIUYRBBUIhZKIISIKKIIKdPp/Dw9vquY6fT+Hh7fVdb0ZcPfLx97pXunonzTojRDSSQRSQJSQJSSJIISIIKSQJIISIIahJINEghIghIggoggogooggoghIggoggoggoggqEQowiCCoRCyUQQkQUUQQU6fT+Hh7fVcx0+n8PD2+q63oy4e+Xj73SvdPRPmnRGiGkkgikgSkgSkkSQQkQQUkgSQQkQQ1CSQaJBCRBCRBBRBBRBRRBBRBCRBBRBBRBBRBBUIhRhEEFQiFkoghIgooggp0+n8PD2+q5jp9P4eHt9V1vRlw98vH3ule6eifNOiNENJJBFJAlJAlJIkghIggpJAkghIghqEkg0SCEiCEiCCiCCiCiiCCiCEiCGkQQkQQUQQVCIUYRBBUIhZKIISIKKIIKdPp/Dw9vquY6fT+Hh7fVdb0ZcPfLx9lz2OLpr/ieht81nF/Pw4uq1os20xi6qxdVtKyMXSxdNIWmcXSxdNoWRirFaQss4uji6aItMYui0lZGKsXVahZss4uqsXVbQtMYuq1itRC2oZxdLF00lbTOLprFJFpnF/qxdNpm0xi6OLpoqyxi6rWLpqIWWcXSxdNGCyzi6qxdVss2XzxdVrF00lZZxdVYum0LLGLqtYrSFpnF/qxdNoWWcXVWLptCyzJdU4umolbUM4uqsXVbLNl85LqnF02orTGLqtYuq0RZYxdVYuq2WbL54uqcVtKyzi/3/TpdP4eHt9V+B+/p/Fw/zz+q6/fLr98v/9k=);
    
    background-size:cover;

}

h1{
    color: rgb(126, 14, 231);
    font-size:8 rem;
    font-weight: bolder;

}

p{
    color: rgb(145, 64, 221);
    font:400px;
    font-size: small;
}
#heading{
    background-color:bisque;

}

