<link rel="stylesheet" href="/style.css">
<div class="wraper">
    
    <form action="/users/forgotpass" class="login_input" method="post">
        <h1 >Varify Mail</h1>
        <div class="inputbox">
            <input type="email" placeholder="enter your email" name="email">
            
        </div>
        <button type="submit">Send OTP</button>
        
        
        <div class="forgot_registor">
            <div>
                Dont have an account?<a href="/register">register</a>
            </div>
            
            
        </div>
    </form>
</div>
