<link rel="stylesheet" href="/style.css">
<div class="wraper">

    <form action="/users/login" class="login_input" method="post">
        <h1>Login</h1>
        <div class="inputbox">
            <input type="email" placeholder="enter your email" name="email">

        </div>
        <div class="inputbox">
            <input type="password" placeholder="enter your pasword" name="password">

        </div>

        <button type="submit">login</button>


        <div class="forgot_registor">
            <div>
                Dont have an account?<a href="/register">register</a>
            </div>
            <a href="">forgot password</a>

        </div>
    </form>
</div>