

#contact_page {
    min-height: 100vh;
    width: 100%;
}

.contact_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75vh;
    padding: 50px 50px 0px 60px;
}

.contact_container .left_contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_container .left_contact h1 {
    font-size: 40px;
    padding-bottom: 27px;
}

.contact_container .left_contact p {
    font-size: 18px;
    padding-bottom: 20px;
    color: #00000093;
    line-height: 1.5rem;
}

.contact_container .right_contact {
    position: relative;
    top: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form{
    padding: 2rem 0;
}
.contact-form form{
    padding-bottom: 1rem;
}

.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;
    background: #8C52FF;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.6rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
